.member {
  padding: 60px 0;
  .member-box {
    box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    background-color: #fff;
    height: 100%;
    &.member-list {
      padding: 40px;
      .name-box {
        border-bottom: 1px solid $main-gray;
        .name {
          font-weight: bold;
          font-size: 35px;
          color: $main-color;
          margin-bottom: 30px;
          text-align: center;
        }
      }
      .list-box {
        width: 100%;
        padding: 30px 0;
        ul {
          li {
            width: 100%;
            margin: 10px 0;
            a {
              display: block;
              width: 100%;
              padding: 10px 0;
              text-align: center;
              transition: 0.3s;
            }
            &.active,&:hover {
              a {
                color: $main-color;
                background-color: $third-color;
                border-radius: 15px;
                font-weight: 700;
              }
            }
          }
        }
      }
    }
    &.member-content {
      padding: 60px 40px;
      &.purse {
        p {
          text-align: center;
          &.price {
            font-weight: 700;
            font-size: 50px;
            color: $main-color;
            margin-top: -20px;
            margin-bottom: 50px;
          }
        }
        button {
          @include blue-bg-btn;
          padding: 10px 25px;
          display: block;
          margin: 0 auto;
        }
        #purse-modal {
          h4 {
            font-size: 22px;
            font-weight: 700;
            color: $main-color;
            margin-bottom: 30px;
            width: 100%;
            text-align: center;
          }
          .modal-content {
            padding: 40px 0 60px;
            form {
              width: 100%;

              input {
                @include common-input;
                width: 50%;
                margin: 0 auto 30px;
                display: block;
              }
              button {
                @include blue-bg-btn;
                width: 50%;
              }
            }
          }
        }
      }
      &.setting {
        form {
          width: 100%;
          padding: 0 15px;
          max-width: 500px;
          margin: 0 auto;
          .input-box {
            margin-bottom: 20px;
            span {
              width: 15%;
            }
            input,select {
              width: 85%;
            }
          }
          .btn-box {
            margin-top: 30px;
          }
        }
        &.password {
          form {
            .input-box {
              span {
                width: 70px;
              }
              input,select {
                width: calc(100% - 70px);
              }
            }
          }
        }
      }
      &.identity {
        .identity-box {
          margin-bottom: 25px;
          h4 {
            font-size: 18px;
            font-weight: 700;
            color: $main-color;
            margin-bottom: 10px;
          }
          .ib {
            .pic-box {
              width: 100%;
              padding-bottom: 55%;
              position: relative;
              background-color: #f1f1f1;
              border: 1px solid $main-gray;
              .text {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                p {
                  color: $main-gray;
                  text-align: center;
                  font-size: 24px;
                  font-weight: 700;
                  margin-bottom: 10px;
                }
                .file-box {
                  position: relative;
                  width: 60px;
                  height: 35px;
                  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
                  border-radius: 5px;
                  button {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: $second-color;
                    color: #fff;
                    text-align: center;
                    line-height: 35px;
                    border-radius: 5px;
                  }
                  input {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                  }
                }
              }
              .identity-pic {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: 0;
              }
            }
            .reset-btn {
              @include blue-border-btn;
              font-size: 12px;
              padding: 5px 8px;
              margin-top: 15px;
              border-radius: 8px;
              position: relative;
              display: none;
              input {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                opacity: 0;
              }
            }
          }
          
        }
        .input-box {
          .form-title {
            width: 18%;
            font-size: 14px;
          }
          input {
            width: 45%;
            &#verti {
              background-color: #f1f1f1;
            }
          }
          button {
            width: calc(37% - 15px);
            font-size: 13px;
            border-radius: 5px;
            padding: 5px;
            color: #fff;
            background-color: $second-color;
            &:hover {
              background-color: $second-hover-color;
            }
            &:active {
              background-color: rgb(113, 212, 235);
            }
          }
          .remain {
            width: calc(37% - 10px);
          }
        }
        .btn-box {
          margin-top: 40px;
        }
      }
      &.reserve {
        .reserve-inform {
          .ri {
            padding: 25px 0;
            border-bottom: 1px solid $main-gray;
            &:last-child {
              border: 0;
            }
            .pic {
              width: 25%;
              padding-bottom: 18%;
              position: relative;
              img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .text {
              width: 50%;
              padding-left: 25px;
              h4 {
                color: #13435f;
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 10px;
              }
              .inform {
                img {
                  width: 15px;
                }
                span {
                  font-size: 14px;
                  margin-left: 3px;
                }
              }
              .status {
                > div {
                  span {
                    font-size: 15px;
                    font-weight: 700;
                  }
                  display: inline-block;
                  &.pay {
                    span {
                      &.cant-pay {
                        color: #406cc0;
                      }
                      &.wait-pay {
                        color: #e09c36;
                      }
                      &.finish-pay {
                        color: #7eb751;
                      }
                      &.fail-pay {
                        color: #c04040;
                      }
                    }
                  }
                  &.reserve-status {
                    span {
                      &.host-agree {
                        color: #406cc0;
                      }
                      &.user-pay {
                        color: #e09c36;
                      }
                      &.reserve-sucess {
                        color: #7eb751;
                      }
                    }
                  }
                }
              }
            }
            .like-box {
              width: 25%;
              .lb {
                padding: 0 15px;
                text-align: center;
                color: $main-gray;
                cursor: pointer;
                transition: 0.3s;
                i {
                  font-size: 20px;
                  margin-bottom: 8px;
                }
                p {
                  font-size: 15px;
                  margin: 0;
                }
                &.active {
                  color: $main-color;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .member {
    .member-box {
      &.member-content {
        &.identity {
          .verti-box {
            margin-top: 20px;
          }
          .identity-box {
            .pic-box {
              margin-bottom: 20px;
            }
          }
          .input-box {
            button {
              width: calc(27% - 15px);
            }
            input {
              width: 55%;
            }
            .remain {
              width: calc(27% - 10px);
              padding-left: 5px;
            }
          }
        }
        &.reserve {
          .reserve-inform {
            .ri {
              .pic {
                width: 50%;
                padding-bottom: 36%;
              }
              .like-box {
                width: 50%;
              }
              .text {
                width: 100%;
                padding-left: 0;
                padding-top: 20px;
              }
            }
          } 
        } 
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .member {
    padding: 100px 0 60px;
    .mamber-name {
      margin-bottom: 40px;
    }
    .member-box {
      &.member-list {
        margin-bottom: 40px;
        padding-bottom: 10px;
        .name-box {
          border: 0;
          .name {
            margin: 0;
          }
        }
        .list-box {
          position: fixed;
          width: 100%;
          top: 70px;
          left: 0;
          background-color: #fff;
          border-bottom: 1px solid $main-gray;
          padding: 10px 15px;
          z-index: 10;
          overflow: auto;
          &::-webkit-scrollbar {
            display: none;
          }
          ul {
            width: 650px;
            li {
              width: auto;
              display: inline-block;
              margin: 0 10px;
              a {
                width: auto;
                padding: 8px 15px;
              }
            }
          }
          
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .page-box {
    &.member-page {
      margin: 0 auto;
    }
    .pagination {
      > li {
        &.arrow {
          width: 30px;
          height: 30px;
        }
        &:nth-child(2) {
          margin: 0 10px;
          ul {
            height: 40px;
            li {
              height: 30px;
              width: 30px;
              a {
                line-height: 30px;
              }
              &:nth-child(4) {
                display: none;
              }
              &:nth-child(5) {
                display: none;
              }
            }
          }
        }
      }
    } 
  }
  .member {
    .member-box {
      &.member-content {
        padding: 40px 20px;
      }
    }
  } 
}

@media screen and (max-width: 414px) {
  .member {
    .mamber-name {
      margin-bottom: 0;
    }
    .member-box {
      &.member-list {
        padding: 20px;
        height: auto;
      }
      &.member-content {
        padding: 40px 20px;
        &.identity {
          .input-box {
            flex-wrap: wrap;
            .form-title {
              width: 100%;
              margin-bottom: 10px;
            }
            input {
              width: 55%;
            }
            button {
              width: calc(45% - 15px);
            }
            .remain {
              width: calc(45% - 15px);
            }
          } 
        } 
        &.reserve {
          .reserve-inform {
            .ri {
              .like-box {
                .lb {
                  padding: 0 8px;
                  p {
                    font-size: 14px;
                  }
                } 
              } 
            } 
          } 
        } 
        &.setting {
          form {
            .input-box {
              span {
                width: 20%;
              }
              input {
                width: 80%;
              }
            } 
          } 
          &.password {
            form {
              .input-box {
                flex-wrap: wrap;
                span {
                  width: 100%;
                  margin-bottom: 10px;
                }
                input {
                  width: 100%;
                }
              }
            }
            
          }
        } 
      }
    }
  } 
}