.product-box {
  .bigpic {
    padding-bottom: 10px;
    .swiper-slide {
      width: 100%;
      padding-bottom: 100%;
      position: relative;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .swiper-button-next:after, .swiper-button-prev:after {
        font-size: 35px;
    }
  }
  .product-swiper {
    .swiper-slide {
      width: 25%;
      padding-bottom: 20%;
      position: relative;
      opacity: 0.4;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .swiper-slide-thumb-active {
      opacity: 1;
    }
  }
  #product {
    .swiper-slide {
      cursor: pointer;
      .pic {
        width: 100%;
        padding-bottom: 67%;
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .dark {
          position: absolute;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.6);
          opacity: 1;
        }
      }
      &.active {
        .pic {
          .dark {
            opacity: 0;
          }
        }
      }
    }
    .arrow {
      position: absolute;
      top: 50%;
      z-index: 10;
      img {
        width: 8px;
      }
      &.Pprev {
        left: 5px;
        transform: translateY(-50%) scaleX(-1);
      }
      &.Pnext {
        right: 5px;
        transform: translateY(-50%);
      }
    }
  }
}

.product-detail {
  padding-left: 20px;
  h1 {
    font-weight: bold;
    font-size: 30px;
    line-height: 51px;
    color: #13435f;
    margin-bottom: 25px;
  }
  .intro {
    margin-bottom: 15px;
  }
  .price {
    font-size: 40px;
    color: $main-color;
    font-weight: 700;
    margin: 0;
  }
  .certi {
    > div {
      display: inline-block;
      margin-left: 10px;
      line-height: 20px;
      img {
        width: 20px;
        vertical-align: middle;
      }
      a {
        text-decoration: underline;
        vertical-align: middle;
      }
      &.number {
        a {
          color: #7eb751;
        }
        &.not {
          a {
            color: $main-gray;
          }
        }
      }
      &.prize {
        color: rgba(255, 203, 20, 1);
        a {
          color: rgba(255, 203, 20, 1);
        }
        &.not {
          a {
            color: $main-gray;
          }
        }
      }
    }
  }
  .inform {
    margin: 25px 0;
    > div {
      > div {
        margin: 13px 0;
        .label {
          background-color: $main-gray;
          color: #fff;
          padding: 5px 8px;
          border-radius: 3px;
          font-size: 13px;
          margin-bottom: 5px;
          width: fit-content;
        }
        p {
          font-weight: bold;
          font-size: 22px;
          margin: 0;
        }
      }
    }
  }
  .contact {
    > div {
      display: inline-block;
      margin-right: 15px;
      padding: 13px 16px;
      line-height: 1;
      background-color: $second-color;
      img {
        width: 25px;
        vertical-align: middle;
      }
      span {
        color: #fff;
        padding-left: 10px;
        vertical-align: middle;
      }
    }
  }
  .reserve {
    @include blue-bg-btn;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
    line-height: 1;
    padding: 13px 19px;
    img {
      width: 25px;
      vertical-align: middle;
    }
    span {
      color: #fff;
      vertical-align: middle;
      margin-left: 10px;
    }
  }
  #reserve-modal {
    .modal-content {
      padding: 40px;
      .modal-header {
        border: 0;
        padding: 0;
        h4 {
          text-align: center;
          font-size: 18px;
          font-weight: 700;
          color: $main-color;
          width: 100%;
        }
      }
      .modal-body {
        padding: 30px 0 0;
        .input-box {
          width: 100%;
          .form-title {
            width: 15%;
            font-weight: 700;
          }
          input {
            width: 85%;
            @include common-input;
          }
        }
        .area-box {
          width: 100%;
          margin: 20px 0;
          .form-title {
            width: 15%;
            font-weight: 700;
          }
          .area {
            width: 85%;
            input {
              width: calc(50% - 7.5px);
              @include common-input;
            }
            span {
              width: 15px;
              text-align: center;
            }
          }
        }
        .btn-box {
          margin-top: 40px;
          button {
            padding: 15px 0;
            width: 150px;
            margin: 0 10px;
            &.notice {
              @include blue-bg-btn;
            }
            &.cancel {
              @include blue-border-btn;
            }
          }
        }
      }
    }
  }
}

.product-intro {
  margin: 70px auto 100px;
  width: 100%;
  .intro-tab {
    margin-bottom: 40px;
  }
  .intro-tc {
    #equipped {
      .equipped-list {
        .check-pic {
          margin-right: 10px;
          img {
            &.noequipped {
              display: none;
            }
          }
        }
        &.nothave {
          .check-pic {
            img {
              &.has-equipped {
                display: none;
              }
              &.noequipped {
                display: inline-block;
              }
            }
          }
          span {
            color: $main-gray;
          }
        }
      }
    }
  }
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next {
  span {
    background-image: url(../css/fancybox/fancybox_sprite@2x.png);
    background-size: 44px 152px;
  }
}

.fancybox-prev {
  left: -50px;
  span {
    left: 0;
    visibility: visible;
  }
}

.fancybox-next {
  right: -50px;
  span {
    right: 0;
    visibility: visible;
  }
}

.fancybox-close {
  top: -10px;
  right: -35px;
}

@media screen and (max-width: 991px) {
  .product-detail {
    h1 {
      font-size: 22px;
      line-height: 35px;
      margin-bottom: 10px;
    }
    .price {
      font-size: 30px;
    }
    .inform {
      margin: 15px 0;
      > div {
        > div {
          p {
            font-size: 20px;
          }
        }
      }
    }
    .contact {
      @include common-flex;
      > div {
        width: 48%;
        margin: 0;
        padding: 12px;
        text-align: center;
        img {
          width: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .product-detail {
    margin-top: 40px;
  }
  .fancybox-close {
    top: -35px;
    right: -10px;
  }
  .fancybox-prev {
    left: 0;
  }
  .fancybox-next {
    right: 0;
  }
}

@media screen and (max-width: 575px) {
    .product-intro {
        .intro-tab {
            padding: 0 20px 20px;
        }
    } 
}

@media screen and (max-width: 414px) {
  .product-detail {
    #reserve-modal {
        .modal-content {
            padding: 40px 20px;
            .modal-body {
                .input-box {
                    flex-wrap: wrap;
                    .form-title {
                        width: 100%;
                        margin-bottom: 10px;
                    }
                    input {
                        width: 100%;
                    }
                }
                .area-box {
                    flex-wrap: wrap;
                    .form-title {
                        width: 100%;
                        margin-bottom: 10px;
                    }
                    .area {
                        width: 100%;
                    }
                } 
            } 
        } 
    } 
    > div {
      flex-wrap: wrap;
      .price {
        width: 100%;
        margin-bottom: 15px;
      }
    }
    .inform {
        > div {
            > div {
                width: 50%;
            }
        } 
    } 
  }
}

@media screen and (max-width: 375px) {
    .product-detail {
        .contact {
            > div {
                width: 100%;
                margin-bottom: 20px;
            }
        } 
    } 
}